@model List<Models.EF.ProductCategory>

<div class="categories">
    <ul>
        <h3>Danh mục sản phẩm</h3>
        @foreach (var item in Model)
        {
            <li><a href="/san-pham/@item.MetaTitle-@item.Name">@item.Name</a></li>
        }
    </ul>
</div>
